[color]
  ui = auto
[user]
  email = dmarano@groupon.com
  name = Dean Marano
[core]
  editor = /usr/local/bin/vim
  autocrlf = input
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  d = difftool
  b = branch
  ba = branch -a
  ci = commit
  cim = commit -m
  co = checkout
[branch]
  autosetuprebase = always
[push]
  default = current
[credential]
	helper = osxkeychain
