[alias]
  fpush = push --force-with-lease
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  merged=!"git branch --merged | grep -v \"\\*\" | grep -v \"main\" |grep -v \"master\" | grep -v \"develop\" | xargs -n 1 git branch -d && git remote prune origin"
  set-upstream=!"git branch | grep \"*\" | sed \"s/* //\" | awk '{print \"origin/\"$1}' | xargs git branch --set-upstream-to && git pull"
  sha = rev-parse HEAD
  unwip = !"git log -n 1 | grep -q -c WIP && git reset HEAD~1"
  wip = !"git add -A; git ls-files --deleted -z | xargs -0 git rm; git commit -m \"WIP\" --no-verify"

  # Bitbucket
  bucket = "!open \"$(git remote -v | grep origin | grep push | cut -f 2 | cut -d \" \" -f 1 | sed -e \"s|ssh://git@\\(.*\\):\\(.*\\).git|http://\\1/\\2|\" | sed -e \"s|\\/7999\\/\\([a-z-]*\\)\\/\\([a-z-]*\\)|:7990/projects/\\1/repos/\\2|\")/\""

  # Github
  hub = "!open \"$(git remote -v | grep origin | grep push | cut -f 2 | cut -d \" \" -f 1 | sed -e \"s|git@\\(.*\\):\\(.*\\).git|https://\\1/\\2|\")/\""
  pulls = "!open \"$(git remote -v | grep origin | grep push | cut -f 2 | cut -d \" \" -f 1 | sed -e \"s|git@\\(.*\\):\\(.*\\).git|https://\\1/\\2|\")/pulls\""
  pr = "!open \"$(git remote -v | grep origin | grep push | cut -f 2 | cut -d \" \" -f 1 | sed -e \"s|git@\\(.*\\):\\(.*\\).git|https://\\1/\\2|\")/pull/new/$(git rev-parse --abbrev-ref HEAD)\""
[branch]
  autosetuprebase = always
[color]
  ui = auto
[core]
  editor = vim
  autocrlf = input
  excludesfile = ~/dotfiles/.gitignore_global
  pager = delta
[credential]
  helper = osxkeychain
[delta]
  syntax-theme = base16
  ;syntax-theme = Solarized (light)
  navigate = true
  line-numbers = true
  side-by-side = true
  light = true
[diff]
  colorMoved = default
[difftool]
  prompt = false
[fetch]
  prune = true
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[init]
  defaultBranch = trunk
[interactive]
  diffFilter = delta --color-only --light
[merge]
  conflictstyle = diff3
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autoStash = true
[user]
  email = here@dean.is
  name = Dean Marano
  useconfigonly = true
[mergetool]
	keepBackup = false
