Host *
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p

Host fusion
  HostName fusion.deanoftech.com
  Port 5720
  User dean

Host tank
  HostName 192.168.1.12
  User dean
  ProxyJump fusion.deanoftech.com:5720

Host pi
  HostName 192.168.1.203
  Port 22
  User dean
  ProxyCommand ssh dean@fusion.deanoftech.com -p 5720 nc %h %p

Host android
  HostName 192.168.1.252
  Port 8022
  IdentityFile /home/dean/.ssh/android/id_rsa

Host github.com
  Hostname ssh.github.com
  Port 443

Host bastion.staging.trice.io
  IdentityFile ~/.ssh/id_rsa
  IdentitiesOnly yes
  Compression yes

Host staging-* *.staging.trice.io !bastion.*
  User ubuntu
  IdentityFile ~/.ssh/staging.pem
  IdentitiesOnly yes
  ProxyJump bastion.staging.trice.io

Host staging-t4console
  HostName t4dot0_console.staging.trice.io

Host staging-dbconsole
  HostName dbconsole.staging.trice.io

Host staging-manage
  HostName 10.19.1.211
  ProxyJump bastion.staging.trice.io

Host staging-t4web
  HostName t4dot0.staging.trice.io

Host staging-t4worker
  HostName t4dot0_processing.staging.trice.io

Host bastion.prod.trice.io
  IdentityFile ~/.ssh/trice-prod-name
  IdentitiesOnly yes
  Compression yes
  # Repeat config from above as needed
  #
Host trice-* *.prod.trice.io !bastion.*
  User ubuntu
  IdentityFile ~/.ssh/trice.pem
  IdentitiesOnly yes
  ProxyJump bastion.prod.trice.io

