Host *
  ControlMaster auto
  User dean
  ControlPath ~/.ssh/%r@%h:%p

Host fusion
  HostName fusion.deanoftech.com
  Port 5720
  User dean

Host pi
  HostName 192.168.1.203
  Port 22
  User dean
  ProxyCommand ssh dean@fusion.deanoftech.com -p 5720 nc %h %p

Host android
  HostName 192.168.1.252
  Port 8022
  IdentityFile /home/dean/.ssh/android/id_rsa
